@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Righteous&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FB6B6B;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home>img {
  width: 136px;
}

.home>h2,
header>h1 {
  font-family: 'Righteous', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.012em;
  color: #FFFFFF;

}

.home button {
  width: 246px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.home button:hover {
  cursor: pointer;
}

.home button>p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #D70900;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  gap: 30px;
  position: fixed;
  top: 42px;
  left: center;
}

header>img {
  width: 52px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deck {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flash-card {
  width: 300px;
  height: 65px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}

.flash-card p {
  font-family: 'Recursive', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.flash-card span {
  display: none;
}

.flash-card ion-icon {
  font-size: 22px;
  color: #333333;
}

.flash-card img {
  display: none;
}

.question {
  width: 299px;
  height: 131px;
  background-color: #FFFFD5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 14px;
  position: relative;
}

.question p {
  display: none;
}

.question span {
  font-family: 'Recursive', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.question ion-icon {
  display: none;
}

.question img {
  width: 30px;
  position: absolute;
  bottom: 6px;
  right: 10px;
}

footer {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 70px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer>p {
  font-family: 'Recursive', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}